@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

:root {
  --font-family-PT: 'PT Serif', serif;
  --font-family-Mon: 'Montserrat', sans-serif;
  --font-family-Pop: 'Poppins', sans-serif;
  --color-black: #000000;
  --background-color: #fafafa;
}

body {
  background-color: var(--background-color);
}

.mainbody {
  margin: 110px 10% 0 10%;
}

.crew-text {
  display: flex;
}

.txtleft {
  width: 50%;
}

.txtright {
  width: 50%;
}

.txtleft h3 {
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.045em;
  color: var(--color-black);
}

.txtright h4 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: var(--color-black);
  padding-bottom: 10px;
}

.txtright p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: var(--color-black);
}

/* Crew image section */

.crew-image {
  margin-top: 100px;
  display: flex;
}

.second-crew-image {
  margin-top: -60px;
  display: flex;
}

.center-img-container {
  margin: 10%;
}

.imgitem {
  display: flex;
}

.imgitem img {
  /* position: absolute; */
  /* width: 238px; */
  width: 100%;
  /* left: 478px; */
  /* top: 244.5px; */
}

.imgitem h5 {
  position: absolute;
  /* transform: rotate(90deg); */
  writing-mode: vertical-rl;
  transform-origin: 0 0;
  /* margin-left: 250px; */
  margin-left: 22%;
  text-transform: uppercase;
  font-size: 12px;
  font-family: var(--font-family-PT);
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  color: var(--color-black);
  white-space: nowrap;
}

.username {
  font-family: var(--font-family-Pop);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: var(--color-black);
  margin-top: 15px;
}

/* Media For Responsive */

@media screen and (max-width: 740px) {
  .mainbody {
    margin: 71px 5% 0 12px;
  }

  .crew-text {
    display: block;
  }

  .txtleft h3 {
    padding-bottom: 38px;
  }

  .txtright h4 {
    padding-bottom: 10px;
  }

  .txtleft {
    width: 100%;
  }

  .txtright {
    width: 100%;
  }
}

/* Footer section */

footer {
  float: left;
  margin-top: 50px;
  width: 100%;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.design-by a {
  text-decoration: none;
  color: #bdbdbd;
  font-weight: 900;
  text-decoration: underline;
}

.design-by p {
  color: #bdbdbd;
  margin-bottom: 24px;
}
